<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>聊天室-测试</title>
    <meta name="author" content="Codrops" />
    <link rel="stylesheet" th:href="@{/css/bootstrap.css}" />
    <link rel="stylesheet" th:href="@{/css/chat.css}" />
</head>
<body>
<div class="col-md-2">
<div class="row">
    在线:<span id="count">[[${count}]]</span>
</div>
    <div class="row">
        <ul id="userUl">

        </ul>
    </div>
</div>
<div class="col-md-10">
<div class="row">
    <div class="col-md-10 col-md-offset-1 chatDiv" id="chatDiv">
    </div>
</div>
<div>
    <div class="col-md-10 col-md-offset-1">
        <div class="form-group col-md-7">
            <input class="form-control" id="name" placeholder="输入内容">
        </div>
        <div class="btn btn-primary col-md-2"  id="send">发送</div>
    </div>
</div>
</div>
<script type="text/javascript"
        th:src="@{/js/jquery.js}"></script>
<script type="text/javascript"
        th:src="@{/js/bootstrap.js}"></script>
<script type="text/javascript"
        th:src="@{/js/sockjs.min.js}"></script>
<script type="text/javascript"
        th:src="@{/js/stomp.min.js}"></script>
<script type="text/javascript">
    var stompClient = null;

    function connect() {
        var socket = new SockJS("/endpoint");
        stompClient = Stomp.over(socket);
        stompClient.connect({}, function (frame) {
            stompClient.subscribe("/topic/response", function (msg) {
                message = $.parseJSON(msg.body)
                if(user==message.user){
                    $("#chatDiv").append($("<div/>").addClass("row").append($("<div />").addClass("col-md-5 my").append(message.rtime).append("<br/>").append(message.msg)))
                }else{
                    $("#chatDiv").append($("<div/>").addClass("row").append($("<div />").addClass("col-md-5 col-md-offset-5 friend").append(message.rtime).append("<br/>").append(message.user+":"+message.msg)))

                }
                $("#count").text(message.count)
                onlineUser(message.ou)
            });
        });

    }

    function disconnect() {
        if(stompClient!=null){
            stompClient.disconnect();
        }
    }

    function send() {
        var name = document.getElementById("name").value;
        $("#name").val("");
        stompClient.send("/message/test", {}, JSON.stringify({
            'msg': name,
            'user':user
        }));
    }
    connect()
    document.getElementById("send").onclick = send;
    user = "[[${user.name}]]"
    $(document).on("keypress", "#name", function(e) {
        if(e.keyCode == 13) {
            send()
        }
    });

    function onlineUser(ou){
        $("#userUl").empty()
        ou.split("@,@").forEach(function(u){
            $("#userUl").append($("<li/>").append(u))
        })
    }

    var users = "[[${online}]]"
    onlineUser(users)

    $.ajax({
        "url":"/chat/getChatHistory",
        "method":"post",
        "dataType":"json",
        "success":function(history){

            for(var n in history){
                var message = history[n]
                if(user==message.user){
                    $("#chatDiv").prepend($("<div/>").addClass("row").append($("<div />").addClass("col-md-5 my").append(message.rtime).append("<br/>").append(message.message)))
                }else{
                    $("#chatDiv").prepend($("<div/>").addClass("row").append($("<div />").addClass("col-md-5 col-md-offset-5 friend").append(message.rtime).append("<br/>").append(message.user+":"+message.message)))

                }
            }
        }
    });
</script>
</body>
</html>
